@page
@model AzWebPlayGround.Pages.UserInformationModel
@{
}


<div class="text-center">
    <h1 class="display-4">Information</h1>
</div>

<app-root></app-root>

@section Scripts
{

    <script src="~/client/polyfills.js" asp-append-version="true"></script>
    <script src="~/client/app.js" asp-append-version="true"></script>
    <script src="~/client/style.js" asp-append-version="true"></script>
}

