@page
@model AzWebPlayGround.Pages.UserInformationModel
@{
    var identity = Model.MyUser?.Identity;
}

<div class="text-center">
    <h1 class="display-4">@($"Hello - {identity.Name}")</h1>
</div>



